In [26]:
import MySQLdb

In [27]:
import mysql.connector

In [28]:
mydb = mysql.connector.connect(
    host='recipes-ca.czmmtifous4d.us-west-1.rds.amazonaws.com',
    user='admin',
    password='MY9TFk8xvKt37dslRotD',
    database='recipes')
print(mydb.is_connected())
mycursor = mydb.cursor()

True

In [29]:
from data import ingre_dish, ingre_dish_img

In [30]:

ingre_id = 0 # serve as the id for 
recipe_id = 0
for keys in ingre_dish:
    ingre_id += 1
    sql = "INSERT INTO ingredients (id, name) VALUES(%s, %s)"
    var = (ingre_id, keys)
    mycursor.execute(sql, var)
    for i in range(len(ingre_dish[keys])):
        this_url = ingre_dish[keys][i]
        this_image = ingre_dish_img[keys][i]
        #select id where url = this_url
        sql = "SELECT * FROM recipes WHERE url = %s and image = %s"
        mycursor.execute(sql, (this_url, this_image))
        recipe = mycursor.fetchone()
        #print(recipe)
        if recipe == None:
            sql = "INSERT INTO recipes (name, url, image) VALUES(%s, %s, %s)"
            var = (this_url.split('/')[-1], this_url, this_image)
            mycursor.execute(sql, var)
            recipe_id = mycursor.lastrowid
            # add (recipe_id, ingre_id) to pivot table 
        else:
            recipe_id = recipe[0]
            sql='SELECT * FROM pivot WHERE recipes_id = %s and ingredients_id = %s'
            mycursor.execute(sql, (recipe_id,ingre_id))
            dup = mycursor.fetchone()
            if dup != None:
                continue
            
        sql = "INSERT INTO pivot (recipes_id, ingredients_id) VALUES(%s,%s)"
        var=(recipe_id, ingre_id)
        mycursor.execute(sql, var)
        
        
        #insert into pivot 
        
mydb.commit()

In [56]:
mydb.commit()

In [17]:
sql = 'WITH cte AS (SELECT recipes_id,ROW_NUMBER() OVER (PARTITION BY recipes_id ORDER BY recipes_id) AS row_num FROM recipes.pivot) DELETE FROM cte WHERE row_num > 1;'

In [18]:
mycursor.execute(sql)

InternalError: Unread result found

In [20]:
mycursor = mysql.cursor(buffered=True)

AttributeError: module 'mysql' has no attribute 'cursor'